
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    line-height: 1.2;
    text-decoration: none;
    
    
}

body{
    background: rgb(174,238,236);
    background: linear-gradient(90deg, rgba(174,238,236,1) 0%, rgba(233,185,148,1) 100%);
}
/*mobile*/

section{
    height:100vh;
    display: flex;
    align-items: center;

}


header{
    align-items: center;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    box-shadow: 0 3px 10px -5px #5f5f5f;
    width: 100%;
    background-color: #fbfbfb;
    margin: 0;
}



nav{ 
    font-size: 32px;
    border-bottom: 10px;
        display: none;
}


.logo{
    max-width: 60px;
}


h1{
    font-size:  36px;
    text-align: center;
}

h2 {
    font-size: 28px;
}

#inicio{
    display: flex;
    flex-direction: column;
    height: 100%;

}

#primer-texto{

    width: 70%;
    padding: 10px;
}

#segundo-texto{
    background-color: #F4937B;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    max-width: 600px;

    width: 70%;
    padding: 10px;

}




/* Para quitar los puntos a los items de listas */

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;

    font-size: 20px;
}

li.menu-item a {
    padding: 16px;
    display: inline-block;
}

li.menu-item.active {
    background: #F06542;

}

body.mobile-menu-active img#cerrar {
	display: block;
}

body.mobile-menu-active img#abrir {
	display: none;
}

body.mobile-menu-active header {
	height: 100%;
    flex-wrap: wrap; 
    align-items: flex-start;


}

body.mobile-menu-active nav {
	display: block;
	width: 100%;
}

body.mobile-menu-active ul#menu {
	align-items: center;
	height: 100%;


}

body.mobile-menu-active {
	overflow: hidden;
}


main {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.perfil{
    height: 300px;
    padding-top: 100px;
    border-radius: 100%;
}

#cv{
    background-color: #127475;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    color:  #fbfbfb;
}
#cv:hover{
    background-color: #0E9594;
}

#contacto{
    display: flex;
    justify-content: center;
    flex-direction:column;

}

a{
    color: inherit;
    font-size: 20px;
}



/* Para que los enlaces hereden el color de texto y no tengan subrayado */





/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/





.redes{
    margin: 20px;
    width: 60px;
}


.redes:hover{
    background-color: #0E9594;
    height: 60px;
    width: 60px;
    transition: background-color 0.3s;
}

footer{
    background-color: #127475;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #fbfbfb;
    width: 100%;
    height: 50px;

}

#menu-hamb {
    background: transparent;
    border: 0;
    outline: 0;
    width: 40px;
    height: 40px;
}

#cerrar {
    display: none;
}



@media (min-width: 1024px) {
    h1 {
    
        font-size: 48px;
    }
    
    h2 {
        font-size: 32px;
    }
    
    p{
        font-size: 18px;
        
    }

    header{
        display: flex;
        justify-content: space-between;
    }



    .menu-item{
        padding: 10px;

    }
    
    .menu-item :hover{
        background-color: #F4937B;
        border-radius: 10%;
        transition: background-color 0.3s;

    }

    #menu-hamb {
        display: none;
    }

    section#inicio {
        flex-direction: row;
        display: flex;
        width: 100%;
        justify-content: center;


    }

    article#primer-texto {
    padding: 100px;
    display: flex;
    flex-wrap: wrap;


    }

        p {

        }

    article#links li {
        margin: 32px;
    }

    .perfil{
        height: 400px;
    }

    nav {
        display: block;
    }

    


/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/}